*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}
#map{
    height: 100%;
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}